@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Nunito:wght@200;400;600;700&family=Open+Sans:wght@400;600&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    font-size: 14px;
}
.slider{
    background: url(img/Screen_1_BG_Bread.png) no-repeat 50% / cover;
    position: relative;
    width: 100vw;
    font-family: 'Nunito', sans-serif;
    color: white;
}
.slider::before,.supermarkets::before{
    content: " ";
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
} 
.container{
    max-width: 1110px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 10;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
}
.active::after{
    content: " ";
    width: calc(100% + 2px);
    border-bottom: 2px solid white;
    position: absolute;
    left: -1px;
    bottom: 4px;
}
nav>ul{
    font-size: 0;
}
nav li{
    display: inline-block;
    font-size: 18px;
    margin-right: 40px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0.45px;
    text-align: right;
    position: relative;
}
nav li:last-child{
    margin-right: 0;
}
.main_text{
    padding-top: 93px;
    font-size: 40px;
    line-height: 60px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 60px;
    text-align: center;
}
h1{
    font-size: 48px;
    letter-spacing: 1.2px;
    line-height: normal;
}
.main_text>p{
    font-size: 40px;
    letter-spacing: 1px;
    line-height: normal;
}
.secondary_text{
    font-size: 18px;
    padding: 30px 0 36px 0;
    font-weight: 400;
    font-style: normal;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.45px;
}
.slider_buttons>a,.range_buttons>a{
    font-weight: 400;
    display: inline-block;
    font-size: 14px;
    padding: 11px 35px;
    outline: 2px solid white;
    margin: 0 15px;
}
.slider_buttons>a+a{
    color: black;
    background-color: white;
    margin-top: 1px;
}
.arrow,.arrow_market{
    padding: 120px 0 28px 0;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 10;
}
.arrow_black{
    padding: 7px 0 42px 0;
    display: flex;
    justify-content: center;
}
.arrow>a,.arrow_black>a{
    width: 40px;
    height: 22px;
    background: url(img/arrow_white.svg)  50% no-repeat;
}
.arrow_black>a{
    background: url(img/arrow.svg)  50% no-repeat;
}

/* inside_bread section */

.inside_bread{
    background: url(img/background_bread.png) no-repeat 50% / cover;
    position: relative;
    width: 100vw;
    font-family: 'Nunito', sans-serif;
    color: #0f1417;
}
.text_inside_bread{
    font-family: 'Nunito';
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    text-align: center;
}
.text_inside_bread>h2{
    letter-spacing: 0.8px;
    line-height: normal;
    padding: 44px 0 16px 0;
}
.text_inside_bread>p{
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.35px;
}
.separator_wavy{
    background: url(img/wave.svg) 50% no-repeat;
    margin-top: 34px;
    height: 12px;
}
.baget_content{
    position: relative;
}
.baget_content>ul{
    width: 180px;
    position: absolute;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    text-align: left;
}
.left_baget{
    top: 28px;
    left: 0;
}
.left_baget li{
    display: inline-block;
    padding-right: 26px;
    position: relative;
}
.right_baget li{
    padding-left: 26px;
    position: relative;
    display: inline-block;
}
.left_baget li::after{
    content: " ";
    width: 15px;
    height: 15px;
    background: url(img/form.svg);
    position: absolute;
    top: 12px;
    right: 2px;
}
.left_baget li::before,.right_baget li::before{
    content: " ";
    position: absolute;
}
.left_baget>.wheat::after{
    top: 10px;
}
.wheat::before{
    width: 24px;
    height: 40px;
    border-top: 1px solid #0f1417;
    border-right: 1px solid #0f1417;
    right: -42px;
    top: 17px;
    transform: skewX(46deg);
}
.grains::before{
    width: 24px;
    height: 35px;
    border-top: 1px solid #0f1417;
    border-right: 1px solid #0f1417;
    right: -50px;
    top: 19px;
    transform: skewX(57deg);
}
.bran::before{
    width: 24px;
    height: 15px;
    border-bottom: 1px solid #0f1417;
    border-right: 1.5px solid #0f1417;
    right: -50px;
    top: 3px;
    transform: skewX(287deg);
}
.salt::before{
    width: 24px;
    height: 28px;
    border-bottom: 1px solid #0f1417;
    border-right: 1px solid #0f1417;
    right: -45px;
    top: -9px;
    transform: skewX(302deg);
}
.right_baget li::after{
    content: " ";
    width: 15px;
    height: 15px;
    background: url(img/form.svg);
    position: absolute;
    top: 10px;
    left: 2px;
}
.right_baget>.flour::after{
    left: -2px;
}
.flour::before{
    width: 24px;
    height: 40px;
    border-top: 1px solid #0f1417;
    border-left: 1px solid #0f1417;
    left: -45px;
    top: 17px;
    transform: skewX(135deg);
}
.artifical::before{
    width: 24px;
    height: 35px;
    border-top: 1px solid #0f1417;
    border-left: 1px solid #0f1417;
    left: -50px;
    top: 18px;
    transform: skewX(303deg);
}
.fat::before{
    width: 24px;
    height: 15px;
    border-bottom: 1px solid #0f1417;
    border-left: 1.5px solid #0f1417;
    left: -45px;
    top: 3px;
    transform: skewX(251deg);
}
.sugar::before{
    width: 24px;
    height: 28px;
    border-bottom: 1px solid #0f1417;
    border-left: 1px solid #0f1417;
    left: -45px;
    top: -11px;
    transform: skewX(58deg);
}
.wheat{
    margin-left: 48px;
}
.grains{
    margin: 16px 0 0 20px;
}
.bran{
    margin: 35px 0 22px 36px;
}
.salt{
    margin-left: 37px;
}
.right_baget{
    right: 0;
    top: 4px;
}
.artifical{
    margin: 25px 0 27px 40px;
}
.fat{
    margin: 0 0 23px 56px;
}
.sugar{
    margin-left: 55px;
}

/* range_section */

.range,.supermarkets,.advantages{
    font-family: 'Nunito', sans-serif;
    text-align: center;
    color: #0f1417;
    padding-left: 20px;
}
.range>h2,.supermarkets_text>h2,.advantages>h2,.forms>h2{
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.8px;
    line-height: 36px;
    padding: 59px 0 32px 0;
}
.bread_cards{
    display: flex;
    justify-content: center;
    position: relative;
}
.bread_cards::before,.bread_cards::after{
    content: " ";
    height: 27px;
    width: 16px;
    position: absolute;
    top: calc(50% - 13px);
}
.bread_cards::before{
    background: url(img/arrow_left.svg);
    left: 123px;
}
.bread_cards::after{
    background: url(img/arrow_right.svg) no-repeat;
    right: 123px;
}
.bread_cards>div{
    height: 272px;
    width: 160px;
    box-shadow: 0 6px 9px rgba(2, 6, 18, 0.04);
    margin: 0 15px;
    position: relative;
}
.bread_cards>div>a>h3{
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.35px;
    line-height: 18px;
    text-align: center;
    padding: 147px 20px 0 20px;
}
.bread_cards>div>a>h3::before{
    position: absolute;
    content: " ";
    width: 110px;
    height: 110px;
    left: calc(50% - 55px);
    top: 19px;
}
.round>a>h3::before{
    background: url(img/round.png);
}
.square>a>h3::before{
    background: url(img/square.png);
}
.multigrain>a>h3::before{
    background: url(img/multigrain.png);
}
.raisin_square>a>h3::before{
    background: url(img/raisin_square.png);
}
.bread_cards>div>a>.kcal{
    font-size: 10px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.25px;
    line-height: normal;
    padding: 10px 0 9px 0;
}
.bread_cards>div>a>p+p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: normal;
    font-style: normal;
    letter-spacing: 0.4px;
    line-height: normal;
    padding-bottom: 34px;
}
.points{
    display: inline-block;
    height: 7px;
    width: 7px;
    background-color: #0f1417;
    border-radius: 50%;
    margin: 42px 12px 37px 12px;
    position: relative;
}
.points::after,.points::before{
    content: " ";
    position: absolute;
    height: 7px;
    width: 7px;
    background-color: #0f1417;
    border-radius: 50%;
    top: 0;
}
.points::after{
    left: 11px;
}
.points::before{
    right: 11px;
}
.range_text{
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.35px;
}
.range_buttons{
    margin: 38px 0 64px 0;
}
.range_buttons>.buy_button{
    outline: 2px solid black;
}
.range_buttons>.coupon_button{
    color: white;
    background-color: black;
    border: 2px solid black;
}
/* supermarkets section */
.supermarkets{
    background: url(img/supermarkets_bg.png)no-repeat 50%/ cover;
    color: white;
    position: relative;
}
.supermarkets_text{
    position: relative;
    z-index: 10;
}
.supermarkets_text>h2{
    padding: 56px 0 20px 0;
}
.supermarkets_text>p{
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.35px;
}
.separator_wavy_white{
    background: url(img/wave_icon_white.svg) 50% no-repeat;
    margin: 30px 0 26px 0;
    height: 12px;
    position: relative;
    z-index: 10;
}
.brands{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 840px;
    margin: 0 auto;
    position: relative;
    z-index: 10;
}
.brands>div{
    width: 160px;
    height: 60px;
    margin: 10px 15px;
}
.winn_d{
    padding-top: 20px;
}
.wallmart,.publix{
    padding-top: 14px;
}
.walgreens{
    padding-top: 19px;
}
.fred_m{
    padding-top: 17px;
}
.whole_f{
    padding-top: 11px;
}
.safeway{
    padding-top: 15px;
}
.supermarkets>.arrow{
    padding: 48px 0 57px 0;
}
/* section advanteges */
.container_adv{
    width: 1122px;
    margin: 0 auto;
}
.advantages>h2{
    padding: 72px 0 0 0;
}
.facts{
    display: flex;
    justify-content: space-between;
}
.facts>div{
    width: 150px;
    padding-top: 100px;
    margin-top: 37px;
    position: relative;
}
.facts>div>h3{
    font-size: 16px;
    font-weight: 700;
    letter-spacing: normal;
    font-style: normal;
    letter-spacing: 0.4px;
    line-height: normal;
}
.facts>div>p{
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.35px;
    padding: 11px 0 0 0;
}
.facts>div::before{
    content: " ";
    position: absolute;
    width: 61px;
    height: 61px;
    top: 15px;
    left: 45px;
}
.organic::before{
    background: url(img/seeds.svg);
}
.serving::before{
    background: url(img/calendar.svg) no-repeat 50%;
}
.points_of_sale::before{
    background: url(img/cart.svg) no-repeat 50%;
}
.products::before{
    background: url(img/bread_icon.svg) no-repeat 50%;
}
.recycable::before{
    background: url(img/recycable.svg) no-repeat 50%;
}
.classes::before{
    background: url(img/rolling_spin_icon.svg);
}
.advantages>.arrow_black{
    padding: 60px 0 61px 0;
}
/* get section */
.get{
    background-color: #f9f7f7;
}
.coupon{
    display: flex;
    width: 1160px;
    margin: 0 auto;
    color: #0b0806;
    font-family: 'Nunito', sans-serif;

}
.forms{
    width: 620px;
    margin: 17px 45px 0 34px;
}
.forms>h2{
    padding-bottom: 27px;
}
.forms>p{
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    letter-spacing: 0.35px;
    line-height: 30px;
    font-style: normal;
}
.forms>p+p{
    padding-top: 15px;
}
.forms>p+p+p{
    padding-top: 17px;
}
.promotion{
    width: 445px;
    height: 500px;
    margin: 81px 2px 80px 0;
    text-align: center;
    background: url(img/coupon_outline.svg) 100%/100% no-repeat;
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    position: relative;
}
input[name="email"]{
    border-radius: 0;
    border: 1px solid black;
    width: 348px;
    height: 40px;
    margin: 38px 0 0 0;
    display: block;
}
input[name="email"]::placeholder{
    padding-left: 20px;
    font-style: normal;
    letter-spacing: 0.35px;
    line-height: normal;
}
input[type="checkbox"]{
    border-radius: 0;
}
.check{
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    font-style: normal;
    letter-spacing: 0.3px;
    line-height: normal;
    margin: 14px 0 0 0;
}
.checkbox{
    display: none;
}
.checkbox_resize{
    width: 20px;
    height: 20px;
    border: 1px solid black;
    background-color: white;
    display: inline-block;
    position: relative;
}
.checkbox_resize::before{
    content: "\2713";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 1px;
    left: 5px;
    opacity: 0;
}
.checkbox:checked +.checkbox_resize::before{
    opacity: 1;
}
.checkbox_text{
    margin-left: 15px;
}
.coupon_buttons{
    margin: 29px 0 0 0;
}
.coupon_buttons>.buy_button{
    border: 2px solid black;
    padding: 8.5px 35px;
}
.coupon_buttons>.download_button{
    border: 2px solid black;
    background-color: black;
    padding: 8.5px 25px;
    color: white;
    margin-left: 20px;
}
.cpn_bgn{
    padding: 50px 0 4px 3px;
    font-weight: 600;
}
.free{
    font-size: 120px;
    font-weight: 600;
    line-height: 100px;
    letter-spacing: 5px;
}
.promotion>p+p+p{
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.6px;
    text-transform: none;
    line-height: normal;
    padding: 30px 0 0 0;
}
.promotion>.txt_logo{
    font-family: 'Kaushan Script', cursive;
    font-size: 48px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    letter-spacing: 1.2px;
    line-height: normal;
    padding: 0 0;
    margin-top: -8px;
}
.promotion>.txt_whole{
    padding-top: 0;
}
.promotion>.txt_bottom{
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    letter-spacing: 0.35px;
    line-height: 18px;
}
.promotion::before{
    content: " ";
    position: absolute;
    background-color: #f9f7f7;
    width: 40px;
    height: 58px;
    top: 364px;
    left: -20px;
}
.promotion::after{
    content: " ";
    position: absolute;
    background:url(img/scissors_icon.svg);
    width: 40px;
    height: 62px;
    top: 362px;
    left: -19px;
}
/* contacts section */
.contacts{
    width: 100vw;
    background: url(img/bg_footer.png);
    display: flex;
    color: white;
    flex-wrap: wrap;
}
.rights{
    width: 210px;
}
.social{
    width: 124px;
}
.cnt_us{
    width: 150px;
}


