html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    box-sizing: content-box;
}
#wrap{
    width: 1200px;
    margin: 0 auto;
    border: 1px solid black;
}
.general_home{
    padding: 10px;
    background-color: antiquewhite;
}
h1{
    font-size: 32px;
}
h2{
    font-size: 24px;
}
h3{
    font-size: 18px;
}
h1,h2,h3{
    text-align: center;
    font-style: italic;
    padding: 10px 0;
    font-weight: 600;
}
p{
    text-align: justify;
}
.img_box{
    text-align: center;
}
.names{
    text-align: left;
}
.img_wrap{
    display: inline-block;
    position: relative;
}


.absol{                                                                             /* SIDEBAR */
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top:calc(50% - 15px);
    width: 100%;
    visibility: hidden;
}
.img_wrap:hover .absol{
    visibility: visible;
}
.sidebar{
    position: fixed;
    font-size: 24px;
    top: calc(50% - 41px);
    border: 1px solid black;
}

a div{
    color: black;
    padding: 5px;
    border: 1px solid black;
}
.sidebar a{
    text-decoration: none;
}
a div:hover{
    color:white;
    background-color: black;
}                                                                                       /* SIDEBAR */


.menu{                                                                                  /* MENU */
    margin: 20px auto;    
    font-size: 0;
    text-align: center;
}
.menu .active{
    background-color: rgb(200, 236, 236);
}
.menu>li{
    display: inline-block;
    font-size: 18px;
    min-width: 100px;
    outline: 1px solid black;
    border-radius: 3px;
    background-color: azure;
    margin: 0 10px;
    position: relative;
    z-index: 10;
}
.menu_1l_block{
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    visibility: hidden;
}
.menu_1l_block li{
    margin-top: 10px;
    outline: 1px solid black;
    background-color: azure;
    border-radius: 3px;
    position: relative;
}
.hover_block:hover .menu_1l_block{
    visibility: visible;
}
li>a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}
.menu_2l_float{
    position: absolute;
    left: 100%;
    top: 0;
    width: 100%;
    visibility: hidden;
}
.menu_2l_float>li{
    outline: 1px solid black;
    background-color: azure;
    border-radius: 3px;
    margin: 0 0 10px 10px;
}
.menu li:hover{
    background-color: rgb(127, 167, 202);
}
.hover_float:hover .menu_2l_float{
    visibility: visible;
}
.menu_2l_grid{
    position: absolute;
    right: 100%;
    bottom: 0;
    visibility: hidden;
}
.hover_grid:hover .menu_2l_grid{
    visibility: visible;
}
.menu_2l_grid li{
    margin-right: 10px;
}                                                       /* MENU */


.general_table{                                         /*table-cell*/
    background-color: lightgoldenrodyellow;
}
.general_table div{
    outline: 1px solid black;
}
.wid_4{                                             
    width: 400px;
    display: table-cell;
}
.wid_6{
    width: 600px;
    display: table-cell;
}
.wid_8{
    width: 800px;
    display: table-cell;
}
p{
    padding: 5px;
}                                                      /*table-cell*/


.general_inline{                                        /* inline-block */
    background-color: lightblue;
}
.general_inline div{
    outline: 1px solid black;
}
.fs_0{
	font-size: 0;
}
.wid_4_inline{
    width: 400px;
    display: inline-block;
	font-size: 20px;
	vertical-align: top;
}
.wid_6_inline{
    width: 600px;
    display: inline-block;
	font-size: 20px;
	vertical-align: top;
}
.wid_8_inline{
    width: 800px;
    display: inline-block;
	font-size: 20px;
	vertical-align: top;
}                                                           /* inline-block */



.general_float{                                             /* float(div + psevdo) */
	background-color: lightcyan;
}
.general_float div{
    outline: 1px solid black;
}
.wid_4_float{
    width: 400px;
    float: left;
}
.wid_6_float{
    width: 600px;
    float: left;
}
.wid_8_float{
    width: 800px;
    float: left;
}
.clr{
	clear: both;
}
.clearfix:after{
	content: "";
	clear: both;
	display: block;
}                                                           /* float(div + psevdo) */


.general_flex{                                              /* flex */
	background-color: lightgoldenrodyellow;
}
.general_flex div{
    outline: 1px solid black;
}
.wid_4_flex{
    flex:0 1 400px;
}
.wid_6_flex{
    flex:0 1 600px;
}
.wid_8_flex{
    flex:0 1 800px;
}
.flex{
	display: flex;
}                                                           /* flex */



.general_grid{                                              /* grid (templa + colums) */
	background-color: lightsteelblue;
}
.general_grid div{
    outline: 1px solid black;
}
.grid_1_1_1{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.grid_1_1{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.grid_2_1{
	display: grid;
	grid-template-columns: 2fr 1fr;
}
.grid_ar{
	display:grid;
	grid-template-columns: 2fr 1fr 1fr 2fr;
	grid-template-areas:
    "w w w w"
	"a b b c"
	"d d e e"
	"d d f f"
	"g g f f"
	"g g h h"
	"i i i j"
	"k l l j"
	"m m m n"
	"o p p n"
	"q p p n";
}
.in_grid_1{
	grid-area: a;
}
.in_grid_2{
	grid-area: b;
}
.in_grid_3{
	grid-area: c;
}
.in_grid_4{
	grid-area: d;
}
.in_grid_5{
	grid-area: e;
}
.in_grid_6{
	grid-area: f;
}
.in_grid_7{
	grid-area: g;
}
.in_grid_8{
	grid-area: h;
}
.in_grid_9{
	grid-area: i;
}
.in_grid_10{
	grid-area: j;
}
.in_grid_11{
	grid-area: k;
}
.in_grid_12{
	grid-area: l;
}
.in_grid_13{
	grid-area: m;
}
.in_grid_14{
	grid-area: n;
}
.in_grid_15{
	grid-area: o;
}
.in_grid_16{
	grid-area: p;
}
.in_grid_17{
	grid-area: q;
}
.menu_grid{
    grid-area: w;
}                                                           /* grid (templa + colums) */



