<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bakery</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="block_1">
        <header>
            <div class="conteiner">
                <div class="header">
                    <div class="logo">
                        <img src="img/BakeryBo LOGO.png" alt="logo">
                    </div>
                    <nav>
                        <ul>
                            <li class="active">
                                <a href="#">Home</a>
                            </li>
                            <li>
                                <a href="#">About</a>
                            </li>
                            <li>
                                <a href="#">Prices</a>
                            </li>
                            <li>
                                <a href="#">Where to buy</a>
                            </li>
                            <li>
                                <a href="#">Bakery</a>
                            </li>
                            <li>
                                <a href="#">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <main>
            <div class="conteiner">
                <div class="text_center">
                    <h1>New product line from BakeryBo®</h1>
                    <p>Whole wheat bread for your health and fitness goals</p>
                </div>
                <div class="text_center_2">
                    <p>Gave up bread from your life to stay healthy and fit?</p>
                    <p>What if we say now you can enjoy it daily and get only healthier?</p>
                </div>
                <div class="block_1_buttons">
                    <a href="#">Where to buy</a>
                    <a href="#">Get a coupon</a>
                </div>
                <div class="arrow">
                    <a href="#">
                        <img src="img/Arrow (Scroll Down) Icon.png" alt="arrow">
                    </a>
                </div>
            </div>
        </main>
    </div>
    
</body>
</html>